<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>郎婷，你好二</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/echarts-plain.js"></script>
</head>
<body>
	<div class="con">
		<div class="block_top">
			<span>Investment Titles</span>
		</div>
		<div class="block_con"  style="max-height:200px;overflow-y:scroll">
			<% for(var i=0;i<investName.length;i++) {%>
				<a href="/get/oneAgency/<%=agencyName%>/investment/<%=investName[i].id%>/detail" class="abtn"><%=investName[i].name%></a>
			<% } %>
			<div class="clear"></div>
		</div>
	</div>
	<div class="con">
		<div class="block_top">
			<span><%=investmentName%></span>
		</div>
		<div id="showdata" style="height: 400px;"></div>
	</div>
	<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('showdata')); 
	// option = {
	//     tooltip : {
	//         trigger: 'axis',
	//         axisPointer : {            // 坐标轴指示器，坐标轴触发有效
	//             type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
	//         }
	//     },
	//     legend: {
	//         data:['Actual cost','Time consuming']
	//     },
	//     calculable : true,
	//     xAxis : [
	//         {
	//             type : 'value'
	//         }
	//     ],
	//     yAxis : [
	//         {
	//             type : 'category',
	//             axisTick : {show: false},
	//             data : [<%-projectName%>],
	//         }
	//     ],
	//     series : [
	//         {
	//             name:'Actual cost',
	//             type:'bar',
	//             stack: 'Actual cost',
	//             itemStyle : { normal: {label : {show: true, position: 'inside'}}},
	//             data:[<%-projectCost%>]
	//         },
	//         {
	//             name:'Time consuming',
	//             type:'bar',
	//             stack: 'Time consuming',
	//             itemStyle: {normal: {
	//                 label : {show: true, position: 'left'}
	//             }},
	//             data:[<%-projectTimeLast%>]
	//         }
	//     ]
	// };
	// 
	option = {
	    tooltip : {
	        trigger: 'axis'
	    },
	    calculable : true,
	    legend: {
	        data:['time consumed/day','Actual cost']
	    },
	    xAxis : [
	        {
	            type : 'category',
	            data : [<%-projectName%>]
	        }
	    ],
	    yAxis : [
	    	{
	            type : 'value',
	            name : 'time consumed/day',
	            axisLabel : {
	                formatter: '{value} days'
	            }
	        },
	        {
	            type : 'value',
	            name : 'Actual cost',
	            axisLabel : {
	                formatter: '{value} $M'
	            }
	        },
	    ],
	    series : [
	    	{
	            name:'time consumed/day',
	            type:'bar',
	            data:[<%-projectTimeLast%>]
	        },

	        {
	            name:'Actual cost',
	            type:'line',
	            yAxisIndex: 1,
	            data:[<%-projectCost%>],
	        }
	    ]
	};
    myChart.setOption(option);
	</script>
</body>
</html>